@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url();
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/Backgroundphoto.jpeg");
    background-repeat: repeat;
}

.topnav{
    background-color: #58896D;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.navigation{
    display: none;
}

#sectionBanner{
    margin-top: -5px;
    object-fit: fill;
}

#forsideMobile{
    position: relative;
    z-index: 1;
}

#forsideDesktop {
    display: none;
}

.forsideKnapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2;
    position: absolute;
    top: 445px;
}

#kompetencer{
    color: white;
    font-size: 300%;
    font-weight: bold;
    margin-top: -42%;
    padding-left: 9%;
    scroll-margin-top: 95px;
}

.grønBox{
    background-color: #A2E687;
    border: 3px solid #010101;
    margin: 3%;
    width: 40vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 140%;
    text-decoration: none;
    color: #010101;
}

.storCirkle{
    width: 30vw;
    height: 30vw;
    background-color: #B3B7BD;
    border-radius: 50%;
    padding: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #010101;
    margin: 1%;
}

.storBillede{
    width: 25vw;
}

.lilleBillede{
    width: 10vw;
}

.lilleCirkle{
    width: 7vw;
    height: 7vw;
    background-color: #B3B7BD;
    border-radius: 50%;
    padding: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #010101;
    margin: 0.3%;
}

.cirkler1{
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
}

.cirkler2{
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
}

.kompetencerParagraf{
    background-color: #A2E687;
    border: 3px solid #010101;
    margin: 5%;
    padding: 4%;
    position: relative;
    top: 80px;
}

.bundLinje{
    position: relative;
    top: 80px;
}

.bundLinje2{
    position: relative;
    top: 20px;
}

.bundLinjeDesktop{
    display: none;
}

#sectionBanner2{
    margin-top: -5px;
    object-fit: fill;
    position: relative;
    top: 90px;
    z-index: -1;
}

#omMig{
    color: white;
    font-size: 300%;
    font-weight: bold;
    margin-top: -20%;
    padding-left: 26%;
    scroll-margin-top: 89px;
}

#emil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    margin-bottom: 5%;
    width: 65vw;
    border: 3px solid #010101;
}

.omMigParagraf{
    background-color: #A2E687;
    border: 3px solid #010101;
    margin: 5%;
    margin-top: -20%;
    padding: 4%;
    position: relative;
    top: 80px;
}

#sectionBanner3{
    margin-top: -5px;
    object-fit: fill;
    position: relative;
    top: 90px;
    z-index: -1;
}

#portfolio{
    color: white;
    font-size: 300%;
    font-weight: bold;
    margin-top: -20%;
    padding-left: 26%;
    scroll-margin-top: 88px;
}

#portfolioKnapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px;
}

.portfolioBox{
    border: 2px solid #010101;
    margin: 3%;
    width: 40.5vw;
    height: 40.5vw;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}

.portfolioParagraf{
    background-color: #A2E687;
    border: 3px solid #010101;
    margin: 5%;
    margin-top: -20%;
    padding: 4%;
    position: relative;
    top: 80px;
}

#sectionBanner4{
    margin-top: -5px;
    object-fit: fill;
    position: relative;
    top: 90px;
    z-index: -1;
}

#findMig{
    color: white;
    font-size: 300%;
    font-weight: bold;
    margin-top: -20%;
    padding-left: 26%;
    scroll-margin-top: 88px;
}

.findMigParagraf{
    background-color: #B3B7BD;
    border: 3px solid #010101;
    margin: 5%;
    margin-top: 50%;
    padding: 4%;
    position: relative;
    top: -55px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 25px;
    text-align: center;
}

.soMe{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

.soMeIkon{
    height: 25vw;
    width: 25vw;
    background-color: #A2E687;
    border-radius: 50%;
    padding: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #010101;
    margin: 1%;
    position: relative;
}

.soMeBillede{
    width: 15vw;
    height: 15vw;
}

#footer{
    background-color: #58896D;
    height: 20vw;
    margin-top: 22px;
}

#sectionBannerDesktop {
    display: none;
}

#sectionBannerDesktop2 {
    display: none;
}

#sectionBannerDesktop3 {
    display: none;
}

#sectionBannerDesktop4 {
    display: none;
}

/* Styling til desktop */

@media screen and (min-width: 992px) {

    body {
        background-image: url("images/backgroundphotoDesktop.png");
        width: 100%;
        object-fit: cover;
        background-repeat: repeat;
    }

    .navigation{
        display: flex;
        width: 100%;
        justify-content: right;
    }

    .navigation a {
        margin: 5px;
        background-color: #A2E687;
        border: 3px solid #010101;
        padding: 5px;
        width: 7vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #010101;
    }

    #forsideMobile{
        display: none;
    }
    
    #forsideDesktop {
        display: block;
        position: relative;
        z-index: -1;
        width: 100vw;
        height: 50vw;
    }

    .forsideKnapper {
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        z-index: 2;
        position: absolute;
        top: 445px;
        width: 90vw;
        margin-left: 5vw;
    }

    .grønBox{
        background-color: #A2E687;
        border: 3px solid #010101;
        margin: 0.5%;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 130%;
        text-decoration: none;
        color: #010101;
    }

    #sectionBannerDesktop {
        display: block;
        z-index: 2;
        margin-top: -82px;
        width: 100%;
        object-fit: fill;
    }

    #sectionBannerDesktop2 {
        display: block;
        z-index: 2;
        margin-top: 8px;
        width: 100%;
        object-fit: fill;
    }

    #sectionBannerDesktop3 {
        display: block;
        z-index: 2;
        margin-top: -82px;
        width: 100%;
        object-fit: fill;
    }

    #sectionBannerDesktop4 {
        display: block;
        z-index: 2;
        margin-top: -82px;
        width: 100%;
        object-fit: fill;
    }

    #kompetencer {
        margin-top: -120px;
        text-align: center;
        padding-left: 0px;
    }

    #omMig {
        margin-top: -120px;
        text-align: center;
        padding-left: 0px;
    }

    .cirkler1 {
        margin-top: -40px;
        margin-left: 65px;
        justify-content: flex-start;
    }

    .storCirkle {
        width: 300px;
        height: 300px;
        padding: 0px;
    }

    .storBillede {
        width: 200px;
        height: 200px;
    }

    .cirkler2 {
        margin-top: -15px;
        margin-left: 65px;
        justify-content: flex-start;
    }

    .lilleCirkle {
        width: 150px;
        height: 150px;
        padding: 0px;
    }

    .lilleBillede {
        width: 100px;
        height: 100px;
    }

    .kompetencerParagraf {
        display: flex;
        width: 500px;
        height: 300px;
        margin-top: -450px;
        margin-left: 750px;
        font-size: 150%;
        align-items: center;
    }

    .bundLinjeDesktop {
        display: block;
        margin-top: 120px;
        width: 100%;
    }

    #sectionBanner{
        display: none;
    }

    #sectionBanner1{
        display: none;
    }

    #sectionBanner2{
        display: none;
    }
    
    #sectionBanner3{
        display: none;
    }

    #sectionBanner4{
        display: none;
    }

    .bundLinje{
        display: none;
    }

    .bundLinje2{
        display: none;
    }
    
}